# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Output File (CSV)
cities_csv = "cities.csv"
cities_df = pd.read_csv(cities_csv)
cities_df

            city    lat     lon   temp  humidity  clouds  windspeed  temp_max
0     talcahuano -36.72  -73.12  20.00        45       0       8.20     20.00
1      jamestown  42.10  -79.24  12.80        26       1       2.60     15.56
2    clyde river  70.47  -68.59 -10.00        72      20      15.90    -10.00
3      goldsboro  35.38  -77.99  27.25        37      20       3.60     28.89
4            owo   7.20    5.59  25.66        79     100       2.81     25.66
..           ...    ...     ...    ...       ...     ...        ...       ...
564        wamba   8.93    8.60  28.90        57      15       1.60     28.90
565        rundu -17.93   19.77  23.00        73       2       1.00     23.00
566       taltal -25.40  -70.48  21.99        61       9       1.73     21.99
567         poum -20.23  164.02  25.82        76      86       5.81     25.82
568        dunda  -8.12   34.25  19.07        66     100       0.75     19.07

[569 rows x 8 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

#base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [5]:
coords = []
hum = []
for i in range(len(cities_df)):
    coords.append([cities_df["lat"][i], cities_df["lon"][i]])
    hum.append(cities_df["humidity"][i])


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(coords, weights=hum, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1.5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
matches_df = cities_df[ (cities_df['temp_max']>21) & (cities_df['temp_max']<27) & (cities_df['windspeed']<10)  & (cities_df['clouds']==0)]
matches_df.dropna
matches_df

,city,lat,lon,temp,humidity,clouds,windspeed,temp_max
70,carnarvon,-24.87,113.63,22.00,83,0,5.10,22.00
105,pisco,-13.70,-76.22,22.56,30,0,3.10,23.33
128,odweyne,9.41,45.06,25.39,35,0,2.85,25.39
131,sao filipe,14.90,-24.50,22.94,73,0,6.14,22.94
166,minab,27.15,57.08,24.00,83,0,3.10,24.00
199,angoche,-16.23,39.91,24.53,86,0,3.23,24.53
219,valparaiso,-33.04,-71.63,21.81,36,0,2.60,24.00
250,cockburn town,21.46,-71.14,24.97,67,0,4.72,24.97
301,rivera,-30.91,-55.55,21.31,36,0,4.97,21.31
303,bolama,11.58,-15.47,26.18,68,0,6.32,26.18
311,udayagiri,20.13,84.38,22.93,31,0,0.77,22.93
319,mocuba,-16.84,36.99,21.70,85,0,1.82,21.70
334,safaga,26.73,33.94,25.00,31,0,6.70,25.00
357,santa fe,-31.63,-60.70,23.01,27,0,0.89,23.89
398,nouadhibou,20.93,-17.03,22.00,64,0,7.20,22.00
427,namibe,-15.20,12.15,23.50,61,0,3.68,23.50
434,lahan,26.73,86.50,22.97,20,0,1.39,22.97
544,bacolod,10.67,122.95,23.91,76,0,2.45,23.91

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = matches_df
hotel_df['Hotel Name'] = "temp"
hotel_df['Hotel Coordinates'] = "temp"

/opt/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map